{{define "general/footer"}}
<footer
    class="px-8 py-4 mt-auto bg-transparent footer text-slate-900 md:px-16 lg:px-40"
>
    <div class="items-center grid-flow-col">
        <img
            src="https://www.sammidev.codes/sammi.png"
            alt="sam"
            class="w-8 h-8 object-cover rounded-full ring ring-1 outline-double ring-[#fcc986] mr-2"
        />
        <p class="font-semibold text-slate-900">
            Final Project - BE2808835 <br /><a
                href="https://sammidev.codes"
                target="_blank"
                class="font-bold hover:cursor-pointer"
                >Sammi Aldhi Yanto</a
            >
        </p>
    </div>
    <div class="md:place-self-center md:justify-self-end"></div>
</footer>
{{end}}
